﻿
@model HajosOldal.Web.Models.Felhasznalo

<h2>Egy felhasználó szerkesztése</h2>

@using (Html.BeginForm("Edit", "Felhasznalok"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Id)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Id)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Telefon)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Telefon)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <input type="submit" value="SEND" />

}