﻿@model HajosOldal.Web.Models.FelhasznaloViewModel
@{
    ViewBag.Title = "FelhasznaloIndex";
}

<h2>FelhasznaloIndex</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("FelhasznaloEdit", Model.EditedFelhasznalo)

@Html.Partial("FelhasznaloList", Model.ListOfFelhasznalok)