﻿@model IEnumerable<HajosOldal.Web.Models.Felhasznalo>
<h2>A felhasználók listája</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().Id)</th>
        <th>@Html.DisplayNameFor(m => m.First().Nev)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(m => item.Id)</th>
            <th>@Html.DisplayFor(m => item.Nev)</th>
            <th>@Html.ActionLink("[SHOW]", "Detail", new { id = item.Id })</th>
            <th>@Html.ActionLink("[DEL]", "Remove", new { id = item.Id })</th>
            <th>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</th>
        </tr>
    }
</table>
}