﻿@model HajosOldal.Web.Models.Felhasznalo
@{
    ViewBag.Title = "FelhasznalokAdatok";
}

<h2>Egy adott felhasználó</h2>

<a href="/Felhasznalok/Index">Vissza a listára.</a>
@Html.ActionLink("Vissza a listára", "Index");
<table>
    <tr>
        <td>A felhasználó ID-ja</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Nev)</td>
        <td>@Html.DisplayFor(m=>m.Nev)</td>
    </tr>
</table>