﻿@{
    ViewBag.Title = "CalInput";
}
        <h2>Számold ki, mennyi kalóriát égetsz!</h2>
        <form method="POST" action="/CalorieCounter/Calorie">
            <label for="Nev">Sportoló neve </label>
            <input type="text" name="Nev"><br />
            <label for="Tomeg">Sportoló tömege</label>
            <input type="number" name="Tomeg" /><br />
            <label for="Exercise">Gyakorlat</label>
            <select name="Exercise">
                <option>Running</option>
                <option>Yoga</option>
                <option>Pilates</option>
                <option>Hiking</option>
                <option>Swimming</option>
                <option>Bicycle</option>
            </select><br />
            <label for="Hossz">Gyakorlat hossza</label>
            <input type="number" name="Length" /><br />
            <input type="submit" value="Kiszámol" />
        </form>

