﻿@model HajosOldal.Web.Models.Eredmeny
@{
    ViewBag.Title = "CalorieResult";
}

<h2>CalorieAz eredmény:Result</h2>
<hr />
<p>Sportoló neve: @Model.CI.Nev</p>
<p>Sportoló tömege: @Model.CI.Tomeg</p>
<p>Gyakorlat hossza (perc): @Model.CI.Length </p>
<p>Elégetett kalória: @Model.Calorie</p>